[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/Omnisharp"]
	path = .vim/bundle/Omnisharp
	url = http://github.com/nosami/Omnisharp
[submodule ".vim/bundle/vim-dispatch"]
	path = .vim/bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule ".vim/bundle/neocomplcache.vim"]
	path = .vim/bundle/neocomplcache.vim
	url = https://github.com/Shougo/neocomplcache.vim
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "tools/dzen-pandora"]
	path = tools/dzen-pandora
	url = https://github.com/jaburns/dzen-pandora
[submodule "tools/winsnap"]
	path = tools/winsnap
	url = https://github.com/jaburns/winsnap
[submodule ".vim/bundle/ultisnips"]
	path = .vim/bundle/ultisnips
	url = https://github.com/sirver/ultisnips
[submodule ".vim/bundle/vim-node"]
    path = .vim/bundle/vim-node
    url = https://github.com/moll/vim-node
[submodule ".vim/bundle/vaxe"]
	path = .vim/bundle/vaxe
	url = https://github.com/jdonaldson/vaxe
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule ".vim/bundle/gitignore"]
	path = .vim/bundle/gitignore
	url = https://github.com/vim-scripts/gitignore
[submodule ".vim/bundle/colors-solarized"]
	path = .vim/bundle/colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule ".vim/bundle/vim-js-context-cooler"]
	path = .vim/bundle/vim-js-context-cooler
	url = git@github.com:jaburns/vim-js-context-coloring
[submodule ".vim/bundle/vim-racer"]
	path = .vim/bundle/vim-racer
	url = https://github.com/racer-rust/vim-racer
