[color]
	ui = auto
[user]
	name = Jeremy Burns
	email = j@jaburns.net
[credential]
	helper = cache --timeout=3600
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[push]
    default = simple
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[core]
    excludesfile = '/Users/jaburns/.gitignore_global'

