[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/Omnisharp"]
	path = .vim/bundle/Omnisharp
	url = https://github.com/jeremyaburns/Omnisharp.git
[submodule ".vim/bundle/vim-dispatch"]
	path = .vim/bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule ".vim/bundle/neocomplcache.vim"]
	path = .vim/bundle/neocomplcache.vim
	url = https://github.com/Shougo/neocomplcache.vim
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
