[color]
	ui = auto
[user]
	name = Jeremy Burns
	email = j@jaburns.net
[credential]
	helper = cache --timeout=3600
[push]
	default = upstream
[core]
	excludesfile = /Users/jaburns/.gitignore_global
[merge]
	tool = p4mergetool
[mergetool "p4mergetool"]
	cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge $PWD/$BASE $PWD/$REMOTE $PWD/$LOCAL $PWD/$MERGED
	trustExitCode = false
[mergetool]
	keepBackup = false
