[user]
	email = j@jaburns.net
	name = jaburns
[core]
	editor = vi
	excludesfile = /home/jaburns/.gitignore_global
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
